.g-subhed {
	font-family: droid sans,helvetica neue,Helvetica,Arial,sans-serif;
	font-weight: 700;
}


.g-text {
	font-family: droid sans,helvetica neue,Helvetica,Arial,sans-serif;
	max-width: 720px;
	margin: 10px auto;
	font-size: 16px;
	line-height: 1.8;
}

.g-bold {
	font-weight: 700;
}

.g-graphic {
	margin: 25px auto;
}