.g-body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	font-family: droid sans,helvetica neue,Helvetica,Arial,sans-serif;
	color: #444;
}

.g-kicker {
	text-align: center;
	margin-bottom: 20px;
	.g-inner {
		display: inline;
		padding: 0 2px 5px 2px;
		border-bottom: 1px solid #d3d3d3;
	}
}

.g-header {
	.g-headline {
		font-family: droid sans,helvetica neue,Helvetica,Arial,sans-serif;
		font-weight: 700;
		margin: 0 auto 25px auto;
		font-size: 32px;
		line-height: 1.8;
		max-width: 720px;	
	}
}

.g-subhed {
	font-family: droid sans,helvetica neue,Helvetica,Arial,sans-serif;
	font-weight: 700;
	margin: 60px auto 25px auto;
	font-size: 24px;
	max-width: 600px;
}

.g-text {
	font-family: droid sans,helvetica neue,Helvetica,Arial,sans-serif;
	max-width: 600px;
	margin: 16px auto;
	font-size: 16px;
	line-height: 1.8;
	color: #444;
}

.g-bold {
	font-weight: 700;
}

.g-graphic {
	margin: 25px auto;
}

.g-graphic-text {
	font-family: droid sans,helvetica neue,Helvetica,Arial,sans-serif;	
}

.g-image {
	margin: 35px auto;
	img {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
	.g-credit {
		margin-top: 10px;
		font-size: 13px;
		text-align: center;
		color: #999;
		display: block;
	}
}

.g-refer {
	border: 1px solid #ececec;
	border-radius: 5px;
	background: rgba(253,232,0,0.05);
	padding: 10px 20px;
	max-width: 460px;
	margin: 35px auto;
	.g-text {
		font-size: 12px;
		margin: 0;
		line-height: 1.5;

		&:first-child {
			margin-bottom: 5px;
			font-weight: 700;
		}
	}

	.g-bullet:before {
		content: "•";
		position: absolute;
		margin-left: -10px;
	}
}

.g-break {
	margin: 50px auto;
	text-align: center;
	em {
		margin-right: 40px;
		text-align: center;
		&:last-child {
			margin-right: 0;
		}
	}
}

.cover-image-wrapper.mobile, .author-wrapper {
	display: none !important;
}

.g-promo {
  max-width: 600px;
  margin: 25px auto;
  padding: 25px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  a {
    color: #444;
    text-decoration: none;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.6;
    }
  }

  .g-promo-asset-cont, .g-promo-text-cont {
    display: inline-block;
    width: 100%;
    vertical-align: top;
  }


  .g-promo-asset-cont {
    @media screen and (min-width: 600px) {
      width: calc(68% - 10px);
    }
  }

  .g-promo-text-cont {
    @media screen and (min-width: 600px) {
      width: calc(32% - 10px);
    }
  }

  .g-promo-text-cont {
    margin-right: 10px;
  }

  .g-promo-tag {
    font-weight: 700;
    margin-bottom: 3px;
  }

  .g-promo-hed {
    font-weight: 700;
    margin-bottom: 10px;
    // max-width: 150px;

    @media screen and (min-width: 460px) {
      max-width: none;
    }
  }

  .g-promo-text {
    // max-width: 200px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 0 16px;
    @media screen and (min-width: 460px) {
      padding: 0;
    }
  }

  .g-youtube-cont {
    width: 100%;
    padding-bottom: 56%;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .g-img-cont {
  	img {
  		width: 100%;
  	}
  }

  .g-mobile-hed {
    display: inline;

    @media screen and (min-width: 460px) {
      display: none;
    }

  }

  .g-desktop-hed {
    display: none;
    @media screen and (min-width: 460px) {
      display: block;
    }

  }
}

.g-note {
	font-size: 13px;
    text-align: center;
    color: #999;
}